body {
    font-family: 'Georgia', serif;
    background-color: #e0a279;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
    background-color: #d1661f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2.5em;
    color: #172136;
    margin-bottom: 10px;
}

.instructions {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.key-display {
    font-size: 3em;
    margin-bottom: 20px;
    color: #0910de;
}

.scoreboard {
    font-size: 1.5em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #3399ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1e7fcc;
}

.game-over {
    font-size: 1.5em;
    color: #06358c;
    display: none;
    margin-top: 20px;
}
